/* Outfit and Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
html,body{
    height: 100%;
    font-family: 'Outfit', sans-serif;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(41, 35, 231);
    border: 3px solid white;
    border-radius: 20px;
}

/* Navbar */
i.nav-toggler{
    -webkit-user-select: none;
    user-select: none;
    position: fixed;
    z-index: 1000;
    bottom: 17px;
    right: 19px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 35px;
    
    background-color: rgb(41, 35, 231);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1.2rem;
    
    transition: .3s ease;
}
i.nav-toggler.active{
    transform: rotate(180deg) scale(1.07);
}

/* Nav */
nav{
    -webkit-user-select: none;
    user-select: none;
    position: fixed;
    z-index: 2000;
    bottom: 80px;
    right: 19px;

    background-color: rgb(41, 35, 231);
    padding: 35px 25px;
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.108);
    transform: translateY(5px);
    transition: opacity .2s ease, transform .2s ease, visibility .2s ease;
}
nav.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
nav.active li{
    opacity: 1;
    transform: translateX(0);
}
nav.active li:nth-child(1){
    transition: transform .4s ease;
}
nav.active li:nth-child(2){
    transition: transform .45s ease;
}
nav.active li:nth-child(3){
    transition: transform .5s ease;
}
nav.active li:nth-child(4){
    transition: transform .55s ease;
}
nav.active li:nth-child(5){
    transition: transform .6s ease;
}
nav ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
nav ul li{
    opacity: 0;
    transform: translateX(-25px);
}
nav ul li a{
    display: block;
    color: azure;
    font-size: 1rem;
    padding: 10px 12px;
    border-radius: 12px;
    transition: background-color .2s ease, transform .2s ease;
}
nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.087);
    transform: translateX(3px);
}
nav ul li span{
    font-weight: 300;
    margin-left: 5px;
    font-size: .95rem;
}

/* Content */
main{
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 0;
}
.hero, footer{
    background-color: rgb(41, 35, 231);
    padding: 30px 25px;
    border-radius: 30px;
    margin-bottom: 60px;
    box-shadow: 4px 6px 14px rgba(0, 0, 0, 0.176);
}
.title{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    color: white;
}
.title .text{
    line-height: 1.5;
}
.title h1{
    font-size: 1.5rem;
    font-weight: 700;
}
.title h2, h3{
    font-size: 1rem;
    font-weight: 300;
}
.title i{
    font-size: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 110px;
    color: rgb(41, 35, 231);
    background-color: rgb(255, 255, 255);
}

article{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto 50px;
    line-height: 1.5;
    padding-top: 10px
}

article h2{
    display: inline-block;
    font-weight: 600;
    font-size: 1.2rem;
    color: rgb(41, 35, 231);
    margin: 10px 0;
}
article h2 a{
    margin-right: 5px;
    color: rgba(42, 35, 231, 0.183);
    transition: color .2s ease;
}
article h2:hover a{
    color: rgba(42, 35, 231, 0.841);
}

article > p{
    text-indent: 20px;
    margin-bottom: 10px;
}
article p{
    font-weight: 300;
    color: rgba(0, 0, 0, 0.76);
    text-align: justify;
    -webkit-hyphens: auto;
    hyphens: auto;
}

article ul{
    padding-left: 30px;
}
article li{
    position: relative;
}
article li::before{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    width: 4px;
    height: 4px;
    background-color: rgb(41, 35, 231);
    clip-path: circle(40%);
}

footer{
    text-align: center;
    color: white;
    margin-bottom: 10px;
}
footer h2{
    font-size: 1rem;
    font-weight: 500;
}
footer p {
    font-size: .95rem;
    font-weight: 200;
}
@media(max-width: 571px){
    .title{
        justify-content: center;
    }
}